
.main-bg{
  background:url('../../assets/main.jpeg') no-repeat center bottom fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .main-info{
    margin-top: 150px;
    width: 40%;
  }
}

.main-cases{
  height: 100vh;
}